@use './utils' as *;

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .form {
    @apply flex flex-col items-center justify-center gap-5 py-8 px-4 bg-cLtGray  rounded-t-md md:rounded w-full shadow-md md:max-w-2xl md:my-0 md:mx-auto md:absolute md:top-28 md:right-0 md:left-0 md:z-10;
  }

  .header-li {
    @apply px-16 py-2 w-full border-b-1 border-cMdGray;
  }

  .download-btn {
    @apply p-2 bg-cBlue text-cWhite font-bold rounded-md shadow-lg;
  }

  .btn {
    @apply p-2 bg-cBlue text-cWhite font-bold rounded-md shadow-lg cursor-pointer hover:bg-cLtBlue transition;
  }

  .form-input {
    @apply p-2 rounded-md outline-none mt-2;
  }

  .form-label {
    @apply flex flex-col  w-full;
  }

  .error {
    @apply mt-4 text-[#721c24] bg-[#f8d7da] border-1 border-[#f5c6cb] p-2 rounded text-center;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: -apple-system, 'Poppins', sans-serif;
}

body {
  min-height: 100vh;
}

.react-tabs {
  &__tab-list {
    border-bottom: none !important;
  }

  &__tab {
    display: inline-block;
    border: none;
    border-bottom: 4px solid transparent;
    bottom: -1px;
    position: relative;
    list-style: none;
    padding: 1rem 2rem !important;
    cursor: pointer;
    color: #7a7a7a !important;

    &--selected {
      border-color: #2d6aa9 !important;
      font-weight: bold !important;
      color: #2d6aa9 !important;
    }

    &:focus {
      &:after {
        height: 15px !important;
        background: transparent !important;
      }
    }
  }
}
