@use './utils' as *;

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .header-li {
    @apply px-16 py-2 w-full border-b-1 border-cMdGray;
  }

  .download-btn {
    @apply p-2 bg-cBlue text-cLtGray font-bold rounded-md shadow-lg;
  }

  .btn {
    @apply p-2 bg-cBlue text-cLtGray font-bold rounded-md shadow-lg;
  }

  .form-input {
    @apply p-2 rounded-md outline-none mt-2;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: -apple-system, 'Poppins', sans-serif;
}

body {
  min-height: 100vh;
}

.react-tabs {
  &__tab-list {
    border-bottom: none !important;
  }

  &__tab {
    display: inline-block;
    border: none;
    border-bottom: 4px solid transparent;
    bottom: -1px;
    position: relative;
    list-style: none;
    padding: 1rem 2rem !important;
    cursor: pointer;
    color: #7a7a7a !important;

    &--selected {
      border-color: #2d6aa9 !important;
      font-weight: bold !important;
      color: #2d6aa9 !important;
    }

    &:focus {
      &:after {
        height: 15px !important;
        background: transparent !important;
      }
    }
  }
}
