//colors
$white-color: #ffffff;
$gray-color: #f5f5f5;
$black-color: #111111;
$green-color: #62b132;
$blue-color: #2d6aa9;
$light-blue-color: #41a0ff;
$dark-light-color: #2c5364;
$dark-med-color: #203a43;
$dark-color: #0f2027;
$med-gray-color: rgb(200, 200, 200);

// spacing
$spacing-sm: 0.5rem;
$spacing-md: 1rem;
$spacing-lg: 2rem;
$spacing-xl: 4rem;

//shadow
$default-shadow: 2px 2px 10px 1px rgba(0, 0, 0, 0.4);
$btn-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.1);
