@use '../../styles/utils/' as *;

@layer components {
  .titulo {
    @apply text-primary;
  }
}

.header {
  width: 100%;
  height: 70px;
  background-color: $white-color;
  @include flex-center;
  box-shadow: $default-shadow;
}

.header > div {
  width: 90%;
  margin: 0 auto;

  @include flex-center;
  justify-content: space-between;
}

.header ul {
  @include flex-center;
  list-style-type: none;
  gap: 1rem;
}

.header li a {
  font-weight: bold;
  color: $black-color;
  letter-spacing: 1px;
}

.header li p {
  font-weight: 500;
  color: $black-color;
}

.header li a:hover {
  border-bottom: 4px solid $blue-color;
  color: $blue-color;
}
