@use '../../styles/utils' as *;

.course_container {
  position: relative;
}

.video_list {
  position: absolute;
  right: 0;
  top: 0;
  height: calc(100vh - 70px);
  background-color: $light-blue-color;
  width: 400px;
  overflow-y: scroll;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: $light-blue-color;
}

::-webkit-scrollbar-thumb {
  background: $blue-color;
  border-radius: 1rem;
}

.video_list h1 {
  text-align: center;
  padding: 2rem 0 1rem;
  color: $white-color;
}
